# Программа для создания рабочей таблицы

Загружаем необходимые библиотеки

In [1]:
import pandas as pd
import numpy as np

Загружаем список, содержащий данные о годе первой финансовой отчетности, представленной на сайте

In [2]:
first_year_list = pd.read_csv(r"Data/first_year_list.csv")
first_year_list

,Company,Ticker,Sector,Sub-sector,Year of first statement
0,apple,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2005.0
1,microsoft,MSFT,Information Technology,Systems Software,2005.0
2,amazon,AMZN,Consumer Discretionary,Internet & Direct Marketing Retail,2005.0
3,tesla,TSLA,Consumer Discretionary,Automobile Manufacturers,2008.0
4,facebook,FB,Communication Services,Interactive Media & Services,2007.0
...,...,...,...,...,...
493,vontier,VNT,Information Technology,Electronic Equipment & Instruments,2018.0
494,hollyfrontier,HFC,Energy,Oil & Gas Refining & Marketing,2005.0
495,gap,GPS,Consumer Discretionary,Apparel Retail,2005.0
496,xerox-holdings,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",2005.0
497,under-armour,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",2005.0

In [3]:
first_year_list['Year of first statement'].value_counts()

2005.0    447
2008.0      9
2010.0      8
2007.0      6
2011.0      6
2009.0      5
2012.0      4
2006.0      3
2017.0      3
2013.0      2
2018.0      2
2014.0      2
2016.0      1
Name: Year of first statement, dtype: int64

In [4]:
for i in np.arange(2005,2021):    
    print(f'{i}:\n', first_year_list.Company[first_year_list['Year of first statement'] == i])

2005:
 0                   apple
1               microsoft
2                  amazon
5                alphabet
6      berkshire-hathaway
              ...
492            technipfmc
494         hollyfrontier
495                   gap
496        xerox-holdings
497          under-armour
Name: Company, Length: 447, dtype: object
2006:
 221         american-water-works
272    lyondellbasell-industries
350                  ulta-beauty
Name: Company, dtype: object
2007:
 4                   facebook
33                  broadcom
213         verisk-analytics
263           enphase-energy
291    fleetcor-technologies
294                 fortinet
Name: Company, dtype: object
2008:
 3                    tesla
59              servicenow
107         general-motors
219            phillips-66
229     marathon-petroleum
235          kinder-morgan
248    first-republic-bank
422    cboe-global-markets
457       nielsen-holdings
Name: Company, dtype: object
2009:
 36                            abbvie
167                            aptiv
319                            xylem
396     fortune-brands-home-security
476    huntington-ingalls-industries
Name: Company, dtype: object
2010:
 94                             zoetis
152                           twitter
182                    iqvia-holdings
279                       kraft-heinz
296                               cdw
424                          allegion
444                diamondback-energy
471    norwegian-cruise-line-holdings
Name: Company, dtype: object
2011:
 299        paycom-software
300               catalent
308    synchrony-financial
324        arista-networks
351     citizens-financial
464                   news
Name: Company, dtype: object
2012:
 15                paypal-holdings
249                          etsy
271                       fortive
347    hewlett-packard-enterprise
Name: Company, dtype: object
2013:
 195    ihs-markit
289         qorvo
Name: Company, dtype: object
2014:
 353          ingersoll-rand
414    lamb-weston-holdings
Name: Company, dtype: object
2015:
 Series([], Name: Company, dtype: object)
2016:
 161    dow
Name: Company, dtype: object
2017:
 203    carrier-global
212           corteva
416               fox
Name: Company, dtype: object
2018:
 243    otis-worldwide
493           vontier
Name: Company, dtype: object
2019:
 Series([], Name: Company, dtype: object)
2020:
 Series([], Name: Company, dtype: object)

Создаем функцию для удаления строк с некорректными данными или с данными, которые не подходят под аналитическую модель

In [5]:
def remove_unused_rows_from_table(some_list):
        #some_list = some_list.drop(index = first_year_list.Company[first_year_list['Year of first statement'] > 2016].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'CARR'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'CTVA'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'FOXA'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'OTIS'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'VNT'].index).reset_index(drop = True)
    #надо перезапустить парсер, чтобы эти /\ и  эта\/ строки не понадобилась
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'TRMB'].index).reset_index(drop = True)
    
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'INFO'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'KEYS'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'MS'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'ATVI'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'KR'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'MCK'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'ADM'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'HLT'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'AMCR'].index).reset_index(drop = True)
    some_list = some_list.drop(index = some_list[some_list['Ticker'] == 'FLIR'].index).reset_index(drop = True)
    return some_list

Загружаем первоначальный список с настоящими названиями компаний

In [6]:
splist = pd.read_csv(r"Data/splist.csv")
splist

,Company,Ticker,Sector,Sub-sector
0,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals"
1,Microsoft Corporation,MSFT,Information Technology,Systems Software
2,Amazon.com Inc.,AMZN,Consumer Discretionary,Internet & Direct Marketing Retail
3,Tesla Inc,TSLA,Consumer Discretionary,Automobile Manufacturers
4,Facebook Inc. Class A,FB,Communication Services,Interactive Media & Services
...,...,...,...,...
493,Vontier Corp,VNT,Information Technology,Electronic Equipment & Instruments
494,HollyFrontier Corporation,HFC,Energy,Oil & Gas Refining & Marketing
495,Gap Inc.,GPS,Consumer Discretionary,Apparel Retail
496,Xerox Holdings Corporation,XRX,Information Technology,"Technology Hardware, Storage & Peripherals"
497,Under Armour Inc. Class A,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods"

Удаляем ненужные строки

In [7]:
splist = remove_unused_rows_from_table(splist)
splist

,Company,Ticker,Sector,Sub-sector
0,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals"
1,Microsoft Corporation,MSFT,Information Technology,Systems Software
2,Amazon.com Inc.,AMZN,Consumer Discretionary,Internet & Direct Marketing Retail
3,Tesla Inc,TSLA,Consumer Discretionary,Automobile Manufacturers
4,Facebook Inc. Class A,FB,Communication Services,Interactive Media & Services
...,...,...,...,...
477,TechnipFMC Plc,FTI,Energy,Oil & Gas Equipment & Services
478,HollyFrontier Corporation,HFC,Energy,Oil & Gas Refining & Marketing
479,Gap Inc.,GPS,Consumer Discretionary,Apparel Retail
480,Xerox Holdings Corporation,XRX,Information Technology,"Technology Hardware, Storage & Peripherals"
481,Under Armour Inc. Class A,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods"

Загружаем список цен за период 2005-2020

In [8]:
price_list = pd.read_csv(r"Data/price_list.csv")
price_list

,Company,Ticker,Price 2005,Price 2006,Price 2007,Price 2008,Price 2009,Price 2010,Price 2011,Price 2012,Price 2013,Price 2014,Price 2015,Price 2016,Price 2017,Price 2018,Price 2019,Price 2020,Price 2021
0,Apple Inc.,AAPL,1.46,2.24,3.34,5.34,3.88,8.43,12.31,22.09,15.32,19.34,31.06,27.50,35.92,41.67,47.81,60.23,123.00
1,Microsoft Corporation,MSFT,24.12,27.56,27.74,29.50,19.31,29.16,25.48,32.29,28.61,41.42,40.72,55.57,65.55,88.52,119.02,152.11,242.35
2,Amazon.com Inc.,AMZN,34.01,36.14,40.42,76.70,73.50,131.81,180.13,198.05,261.61,342.99,370.26,598.50,891.51,1371.99,1814.19,1907.70,3161.00
3,Tesla Inc,TSLA,NaN,NaN,NaN,NaN,NaN,NaN,5.33,7.32,8.79,43.39,37.52,47.52,59.70,50.50,57.84,96.31,661.75
4,Facebook Inc. Class A,FB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.53,62.62,81.67,116.06,142.28,155.39,168.70,159.60,298.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,Vontier Corp,VNT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,31.08
494,HollyFrontier Corporation,HFC,9.63,18.79,29.50,23.11,10.44,14.24,30.81,32.24,51.34,48.28,40.37,34.20,27.71,48.30,49.12,21.73,38.02
495,Gap Inc.,GPS,21.51,18.49,17.21,20.37,13.73,23.63,22.63,26.44,35.20,40.98,42.54,29.46,23.71,30.75,26.10,5.89,29.95
496,Xerox Holdings Corporation,XRX,39.44,39.78,44.50,40.10,12.51,26.32,28.66,21.47,22.66,30.14,33.38,29.24,29.00,28.06,33.01,17.60,24.59
497,Under Armour Inc. Class A,UAA,NaN,4.20,6.63,4.78,2.08,3.95,9.46,12.42,13.06,29.96,40.71,43.75,19.65,16.10,21.10,8.26,21.97

Удаляем ненужные строки

In [9]:
price_list = remove_unused_rows_from_table(price_list)
price_list

,Company,Ticker,Price 2005,Price 2006,Price 2007,Price 2008,Price 2009,Price 2010,Price 2011,Price 2012,Price 2013,Price 2014,Price 2015,Price 2016,Price 2017,Price 2018,Price 2019,Price 2020,Price 2021
0,Apple Inc.,AAPL,1.46,2.24,3.34,5.34,3.88,8.43,12.31,22.09,15.32,19.34,31.06,27.50,35.92,41.67,47.81,60.23,123.00
1,Microsoft Corporation,MSFT,24.12,27.56,27.74,29.50,19.31,29.16,25.48,32.29,28.61,41.42,40.72,55.57,65.55,88.52,119.02,152.11,242.35
2,Amazon.com Inc.,AMZN,34.01,36.14,40.42,76.70,73.50,131.81,180.13,198.05,261.61,342.99,370.26,598.50,891.51,1371.99,1814.19,1907.70,3161.00
3,Tesla Inc,TSLA,NaN,NaN,NaN,NaN,NaN,NaN,5.33,7.32,8.79,43.39,37.52,47.52,59.70,50.50,57.84,96.31,661.75
4,Facebook Inc. Class A,FB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25.53,62.62,81.67,116.06,142.28,155.39,168.70,159.60,298.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,TechnipFMC Plc,FTI,NaN,NaN,NaN,NaN,NaN,33.03,48.90,50.52,53.91,52.88,36.96,27.24,32.46,28.81,24.36,6.56,7.98
478,HollyFrontier Corporation,HFC,9.63,18.79,29.50,23.11,10.44,14.24,30.81,32.24,51.34,48.28,40.37,34.20,27.71,48.30,49.12,21.73,38.02
479,Gap Inc.,GPS,21.51,18.49,17.21,20.37,13.73,23.63,22.63,26.44,35.20,40.98,42.54,29.46,23.71,30.75,26.10,5.89,29.95
480,Xerox Holdings Corporation,XRX,39.44,39.78,44.50,40.10,12.51,26.32,28.66,21.47,22.66,30.14,33.38,29.24,29.00,28.06,33.01,17.60,24.59
481,Under Armour Inc. Class A,UAA,NaN,4.20,6.63,4.78,2.08,3.95,9.46,12.42,13.06,29.96,40.71,43.75,19.65,16.10,21.10,8.26,21.97

Загружаем финансовые данные компаний

In [10]:
fin_data = pd.read_csv(r"Data/financial_data.csv")
fin_data

,Company,Ticker,Sector,Sub-sector,Revenue 2005,Revenue 2006,Revenue 2007,Revenue 2008,Revenue 2009,Revenue 2010,...,Total Liabilities 2011,Total Liabilities 2012,Total Liabilities 2013,Total Liabilities 2014,Total Liabilities 2015,Total Liabilities 2016,Total Liabilities 2017,Total Liabilities 2018,Total Liabilities 2019,Total Liabilities 2020
0,apple,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",13931,19315,24578,37491,42905.000,65225,...,39756,57854,83451,120292,170990.000,193437,241272.000,258578.000,248028.000,258549.000
1,microsoft,MSFT,Information Technology,Systems Software,39788,44282,51122,60420,58437.000,62484,...,51621,54908,63487,82600,94389.000,121471,162601.000,176130.000,184226.000,183007.000
2,amazon,AMZN,Consumer Discretionary,Internet & Direct Marketing Retail,8490,10711,14835,19166,24509.000,34204,...,17521,24363,30413,43764,51363.000,64117,103601.000,119099.000,163188.000,227791.000
3,tesla,TSLA,Consumer Discretionary,Automobile Manufacturers,NaN,NaN,NaN,14.742,111.943,116.744,...,489.403,989.49,1749.81,4918.957,6984.235,17125.99,23420.780,23983.000,26842.000,29073.000
4,facebook,FB,Communication Services,Interactive Media & Services,NaN,NaN,153,272,777.000,1974,...,1432,3348,2425,3870,5189.000,5767,10177.000,13207.000,32322.000,31026.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
493,vontier,VNT,Information Technology,Electronic Equipment & Instruments,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
494,hollyfrontier,HFC,Energy,Oil & Gas Refining & Marketing,3046.313,4023.217,4791.742,5860.357,4834.268,8322.929,...,3740.343,3686.339,3447.341,3129.328,2578.526,4133.676,4795.214,4535.542,5655.415,5784.661
495,gap,GPS,Consumer Discretionary,Apparel Retail,16267,16019,15923,15763,14526.000,14197,...,2985,4667,4576,4787,4707.000,4928,4845.000,4496.000,10363.000,11155.000
496,xerox-holdings,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",15701,15895,17228,17608,15179.000,21633,...,17742,18002,16268,16556,16075.000,13090,10439.000,9621.000,9239.000,8931.000
497,under-armour,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",281.053,430.689,606.561,725.244,856.411,1063.927,...,282.778,340.161,524.387,744.783,1197.748,1613.431,1987.725,2228.151,2693.444,3354.635

Удаляем ненужные строки

In [11]:
fin_data = remove_unused_rows_from_table(fin_data)
fin_data

,Company,Ticker,Sector,Sub-sector,Revenue 2005,Revenue 2006,Revenue 2007,Revenue 2008,Revenue 2009,Revenue 2010,...,Total Liabilities 2011,Total Liabilities 2012,Total Liabilities 2013,Total Liabilities 2014,Total Liabilities 2015,Total Liabilities 2016,Total Liabilities 2017,Total Liabilities 2018,Total Liabilities 2019,Total Liabilities 2020
0,apple,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",13931,19315,24578,37491,42905.000,65225,...,39756,57854,83451,120292,170990.000,193437,241272.000,258578.000,248028.000,258549.000
1,microsoft,MSFT,Information Technology,Systems Software,39788,44282,51122,60420,58437.000,62484,...,51621,54908,63487,82600,94389.000,121471,162601.000,176130.000,184226.000,183007.000
2,amazon,AMZN,Consumer Discretionary,Internet & Direct Marketing Retail,8490,10711,14835,19166,24509.000,34204,...,17521,24363,30413,43764,51363.000,64117,103601.000,119099.000,163188.000,227791.000
3,tesla,TSLA,Consumer Discretionary,Automobile Manufacturers,NaN,NaN,NaN,14.742,111.943,116.744,...,489.403,989.49,1749.81,4918.957,6984.235,17125.99,23420.780,23983.000,26842.000,29073.000
4,facebook,FB,Communication Services,Interactive Media & Services,NaN,NaN,153,272,777.000,1974,...,1432,3348,2425,3870,5189.000,5767,10177.000,13207.000,32322.000,31026.000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,technipfmc,FTI,Energy,Oil & Gas Equipment & Services,3107,2915.4,3648.9,4550.9,4405.400,4125.6,...,2833.3,4049.7,4269.3,4694.4,3876.200,13635.2,14854.300,14395.600,15830.700,15478.300
478,hollyfrontier,HFC,Energy,Oil & Gas Refining & Marketing,3046.313,4023.217,4791.742,5860.357,4834.268,8322.929,...,3740.343,3686.339,3447.341,3129.328,2578.526,4133.676,4795.214,4535.542,5655.415,5784.661
479,gap,GPS,Consumer Discretionary,Apparel Retail,16267,16019,15923,15763,14526.000,14197,...,2985,4667,4576,4787,4707.000,4928,4845.000,4496.000,10363.000,11155.000
480,xerox-holdings,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",15701,15895,17228,17608,15179.000,21633,...,17742,18002,16268,16556,16075.000,13090,10439.000,9621.000,9239.000,8931.000
481,under-armour,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",281.053,430.689,606.561,725.244,856.411,1063.927,...,282.778,340.161,524.387,744.783,1197.748,1613.431,1987.725,2228.151,2693.444,3354.635

In [12]:
splist_with_mc = pd.read_csv(r"Data/splist_with_mc.csv")
splist_with_mc

                           Company Ticker  Market Cap    Price
0                        APPLE INC   AAPL   2180271.0   129.87
1                  MICROSOFT CORP.   MSFT   1817449.0   240.97
2                   AMAZON COM INC   AMZN   1636536.0  3249.90
3    ALPHABET INC (GOOGLE) CLASS A  GOOGL   1408142.0  2088.81
4                        TESLA INC   TSLA    749934.0   781.30
..                             ...    ...         ...      ...
494                     UNUM GROUP    UNM      5217.0    25.61
495                 FLOWSERVE CORP    FLS      5112.0    39.24
496     XEROX HOLDINGS CORPORATION    XRX      4694.0    23.66
497         SL GREEN RLTY CORP ETF    SLG      4317.0    62.16
498                 TECHNIPFMC PLC    FTI      3272.0     7.28

[499 rows x 4 columns]

In [13]:
splist_with_mc = remove_unused_rows_from_table(splist_with_mc)
new_mc_pr_list = pd.DataFrame(columns = splist_with_mc.columns.tolist())
new_mc_pr_list['Company'] = splist['Company']
new_mc_pr_list['Ticker'] = splist['Ticker']
for i in np.arange(len(fin_data.index)):
    try:
        new_mc_pr_list['Market Cap'][i] = splist_with_mc['Market Cap'][splist_with_mc[splist_with_mc['Ticker'] == fin_data['Ticker'][i]].index[0]]
        new_mc_pr_list['Price'][i] = splist_with_mc['Price'][splist_with_mc[splist_with_mc['Ticker'] == fin_data['Ticker'][i]].index[0]]
    except:
        print(i)
splist_with_mc = new_mc_pr_list
splist_with_mc

                        Company Ticker   Market Cap   Price
0                    Apple Inc.   AAPL  2.18027e+06  129.87
1         Microsoft Corporation   MSFT  1.81745e+06  240.97
2               Amazon.com Inc.   AMZN  1.63654e+06  3249.9
3                     Tesla Inc   TSLA       749934   781.3
4         Facebook Inc. Class A     FB       744837  261.56
..                          ...    ...          ...     ...
477              TechnipFMC Plc    FTI         3272    7.28
478   HollyFrontier Corporation    HFC         5928   36.59
479                    Gap Inc.    GPS         9033   24.15
480  Xerox Holdings Corporation    XRX         4694   23.66
481   Under Armour Inc. Class A    UAA        10371   22.81

[482 rows x 4 columns]

Удаляем ненужные строки из списка годов первой финотчетности

In [14]:
first_year_list = remove_unused_rows_from_table(first_year_list)
first_year_list

,Company,Ticker,Sector,Sub-sector,Year of first statement
0,apple,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2005.0
1,microsoft,MSFT,Information Technology,Systems Software,2005.0
2,amazon,AMZN,Consumer Discretionary,Internet & Direct Marketing Retail,2005.0
3,tesla,TSLA,Consumer Discretionary,Automobile Manufacturers,2008.0
4,facebook,FB,Communication Services,Interactive Media & Services,2007.0
...,...,...,...,...,...
477,technipfmc,FTI,Energy,Oil & Gas Equipment & Services,2005.0
478,hollyfrontier,HFC,Energy,Oil & Gas Refining & Marketing,2005.0
479,gap,GPS,Consumer Discretionary,Apparel Retail,2005.0
480,xerox-holdings,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",2005.0
481,under-armour,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",2005.0

In [15]:
first_years = first_year_list['Year of first statement']
first_years.value_counts()

2005.0    437
2008.0      9
2010.0      8
2007.0      6
2011.0      6
2009.0      5
2012.0      4
2006.0      3
2014.0      2
2013.0      1
2016.0      1
Name: Year of first statement, dtype: int64

Рассчитаваем коэффициенты для расчета капитализаций для всех компаний

In [16]:
koefs = []
for i in np.arange(len(splist_with_mc)):
    koefs.append(splist_with_mc.loc[i,'Market Cap']/splist_with_mc.loc[i,'Price'])
len(koefs)

482

Добавляем новые столбцы к основному датафрейму:
Market Cap
Price

In [17]:
mc_pr_columns = []
for i in np.arange(2006,2022):
    mc_pr_columns.append(f'Market Cap {i}')
for i in np.arange(2006,2022):
    mc_pr_columns.append(f'Price {i}')
mc_pr_columns

['Market Cap 2006',
 'Market Cap 2007',
 'Market Cap 2008',
 'Market Cap 2009',
 'Market Cap 2010',
 'Market Cap 2011',
 'Market Cap 2012',
 'Market Cap 2013',
 'Market Cap 2014',
 'Market Cap 2015',
 'Market Cap 2016',
 'Market Cap 2017',
 'Market Cap 2018',
 'Market Cap 2019',
 'Market Cap 2020',
 'Market Cap 2021',
 'Price 2006',
 'Price 2007',
 'Price 2008',
 'Price 2009',
 'Price 2010',
 'Price 2011',
 'Price 2012',
 'Price 2013',
 'Price 2014',
 'Price 2015',
 'Price 2016',
 'Price 2017',
 'Price 2018',
 'Price 2019',
 'Price 2020',
 'Price 2021']

In [18]:
fin_data = fin_data.reindex(columns = fin_data.columns.tolist() + mc_pr_columns)
fin_data

,Company,Ticker,Sector,Sub-sector,Revenue 2005,Revenue 2006,Revenue 2007,Revenue 2008,Revenue 2009,Revenue 2010,...,Price 2012,Price 2013,Price 2014,Price 2015,Price 2016,Price 2017,Price 2018,Price 2019,Price 2020,Price 2021
0,apple,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",13931,19315,24578,37491,42905.000,65225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,microsoft,MSFT,Information Technology,Systems Software,39788,44282,51122,60420,58437.000,62484,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,amazon,AMZN,Consumer Discretionary,Internet & Direct Marketing Retail,8490,10711,14835,19166,24509.000,34204,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,tesla,TSLA,Consumer Discretionary,Automobile Manufacturers,NaN,NaN,NaN,14.742,111.943,116.744,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,facebook,FB,Communication Services,Interactive Media & Services,NaN,NaN,153,272,777.000,1974,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,technipfmc,FTI,Energy,Oil & Gas Equipment & Services,3107,2915.4,3648.9,4550.9,4405.400,4125.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
478,hollyfrontier,HFC,Energy,Oil & Gas Refining & Marketing,3046.313,4023.217,4791.742,5860.357,4834.268,8322.929,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
479,gap,GPS,Consumer Discretionary,Apparel Retail,16267,16019,15923,15763,14526.000,14197,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
480,xerox-holdings,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",15701,15895,17228,17608,15179.000,21633,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
481,under-armour,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",281.053,430.689,606.561,725.244,856.411,1063.927,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Заполнение ячеек для новых столбцов

In [19]:
for i in np.arange(len(koefs)):
    for j in np.arange(2006,2022):
        try:
            fin_data.loc[i, f'Market Cap {j}'] = koefs[i] * price_list.loc[i, f'Price {j}']
            fin_data.loc[i, f'Price {j}'] = price_list.loc[i, f'Price {j}']
        except:
            print(i)
fin_data

,Company,Ticker,Sector,Sub-sector,Revenue 2005,Revenue 2006,Revenue 2007,Revenue 2008,Revenue 2009,Revenue 2010,...,Price 2012,Price 2013,Price 2014,Price 2015,Price 2016,Price 2017,Price 2018,Price 2019,Price 2020,Price 2021
0,apple,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",13931,19315,24578,37491,42905.000,65225,...,22.09,15.32,19.34,31.06,27.50,35.92,41.67,47.81,60.23,123.00
1,microsoft,MSFT,Information Technology,Systems Software,39788,44282,51122,60420,58437.000,62484,...,32.29,28.61,41.42,40.72,55.57,65.55,88.52,119.02,152.11,242.35
2,amazon,AMZN,Consumer Discretionary,Internet & Direct Marketing Retail,8490,10711,14835,19166,24509.000,34204,...,198.05,261.61,342.99,370.26,598.50,891.51,1371.99,1814.19,1907.70,3161.00
3,tesla,TSLA,Consumer Discretionary,Automobile Manufacturers,NaN,NaN,NaN,14.742,111.943,116.744,...,7.32,8.79,43.39,37.52,47.52,59.70,50.50,57.84,96.31,661.75
4,facebook,FB,Communication Services,Interactive Media & Services,NaN,NaN,153,272,777.000,1974,...,NaN,25.53,62.62,81.67,116.06,142.28,155.39,168.70,159.60,298.66
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
477,technipfmc,FTI,Energy,Oil & Gas Equipment & Services,3107,2915.4,3648.9,4550.9,4405.400,4125.6,...,50.52,53.91,52.88,36.96,27.24,32.46,28.81,24.36,6.56,7.98
478,hollyfrontier,HFC,Energy,Oil & Gas Refining & Marketing,3046.313,4023.217,4791.742,5860.357,4834.268,8322.929,...,32.24,51.34,48.28,40.37,34.20,27.71,48.30,49.12,21.73,38.02
479,gap,GPS,Consumer Discretionary,Apparel Retail,16267,16019,15923,15763,14526.000,14197,...,26.44,35.20,40.98,42.54,29.46,23.71,30.75,26.10,5.89,29.95
480,xerox-holdings,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",15701,15895,17228,17608,15179.000,21633,...,21.47,22.66,30.14,33.38,29.24,29.00,28.06,33.01,17.60,24.59
481,under-armour,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",281.053,430.689,606.561,725.244,856.411,1063.927,...,12.42,13.06,29.96,40.71,43.75,19.65,16.10,21.10,8.26,21.97

Создаем, собственно, рабочую таблицу

In [20]:
def add_5_names(st):
    for i in np.arange(1,6):
        cols.append(st + ' ' + str(i))

cols = splist.columns.tolist() + ['Year of examination']
add_5_names('Revenue')
add_5_names('Net Income')
add_5_names('EBITDA')
add_5_names('Cash')
add_5_names('Debt')
add_5_names('Total Assets')
add_5_names('Total Liabilities')
add_5_names('Market Cap')
add_5_names('Price')
cols

['Company',
 'Ticker',
 'Sector',
 'Sub-sector',
 'Year of examination',
 'Revenue 1',
 'Revenue 2',
 'Revenue 3',
 'Revenue 4',
 'Revenue 5',
 'Net Income 1',
 'Net Income 2',
 'Net Income 3',
 'Net Income 4',
 'Net Income 5',
 'EBITDA 1',
 'EBITDA 2',
 'EBITDA 3',
 'EBITDA 4',
 'EBITDA 5',
 'Cash 1',
 'Cash 2',
 'Cash 3',
 'Cash 4',
 'Cash 5',
 'Debt 1',
 'Debt 2',
 'Debt 3',
 'Debt 4',
 'Debt 5',
 'Total Assets 1',
 'Total Assets 2',
 'Total Assets 3',
 'Total Assets 4',
 'Total Assets 5',
 'Total Liabilities 1',
 'Total Liabilities 2',
 'Total Liabilities 3',
 'Total Liabilities 4',
 'Total Liabilities 5',
 'Market Cap 1',
 'Market Cap 2',
 'Market Cap 3',
 'Market Cap 4',
 'Market Cap 5',
 'Price 1',
 'Price 2',
 'Price 3',
 'Price 4',
 'Price 5']

In [21]:
work_table = pd.DataFrame(columns = cols)
work_table

Empty DataFrame
Columns: [Company, Ticker, Sector, Sub-sector, Year of examination, Revenue 1, Revenue 2, Revenue 3, Revenue 4, Revenue 5, Net Income 1, Net Income 2, Net Income 3, Net Income 4, Net Income 5, EBITDA 1, EBITDA 2, EBITDA 3, EBITDA 4, EBITDA 5, Cash 1, Cash 2, Cash 3, Cash 4, Cash 5, Debt 1, Debt 2, Debt 3, Debt 4, Debt 5, Total Assets 1, Total Assets 2, Total Assets 3, Total Assets 4, Total Assets 5, Total Liabilities 1, Total Liabilities 2, Total Liabilities 3, Total Liabilities 4, Total Liabilities 5, Market Cap 1, Market Cap 2, Market Cap 3, Market Cap 4, Market Cap 5, Price 1, Price 2, Price 3, Price 4, Price 5]
Index: []

[0 rows x 50 columns]

Переносим все первичные финансовые данные, а также капитализации и цены в рабочую таблицу

In [22]:
def get_row_of_five(i, c):
    row5 = [fin_data.iloc[i, c], fin_data.iloc[i, c+1], fin_data.iloc[i, c+2], fin_data.iloc[i, c+3], fin_data.iloc[i, c+4]]
    return row5

def add_fins_to_row(row, j, i):
    c_rev = 16 - j
    revs = get_row_of_five(i, c_rev)
    c_inc = 32 - j
    incs = get_row_of_five(i, c_inc)
    c_ebitda = 48 - j
    ebitdas = get_row_of_five(i, c_ebitda)
    c_cash = 64 - j
    cashes = get_row_of_five(i, c_cash)
    c_debt = 80 - j
    debts = get_row_of_five(i, c_debt)
    c_ass = 96 - j
    assets = get_row_of_five(i, c_ass)
    c_liab = 112 - j
    liabs = get_row_of_five(i, c_liab)
    c_mcaps = 128 - j
    mcaps = get_row_of_five(i, c_mcaps)
    c_prices = 144 - j
    prices = get_row_of_five(i, c_prices)
    new_elements = revs + incs + ebitdas + cashes + debts + assets + liabs + mcaps + prices
    row = row + new_elements
    return row

In [23]:
n = 0
for i in np.arange(len(fin_data.index)):
    for j in np.arange(2017-first_years[i],5,-1):
        row = [splist.Company[i], splist.Ticker[i], splist.Sector[i], splist['Sub-sector'][i], f'{int(2022-j)}']
        row = add_fins_to_row(row, int(j), i)
        work_table.loc[n] = row
        n+=1
for i in np.arange(len(fin_data.index)):
    row = [splist.Company[i], splist.Ticker[i], splist.Sector[i], splist['Sub-sector'][i], f'{int(2021)}']
    row = add_fins_to_row(row, 1, i)
    work_table.loc[n] = row
    n+=1

In [24]:
work_table

,Company,Ticker,Sector,Sub-sector,Year of examination,Revenue 1,Revenue 2,Revenue 3,Revenue 4,Revenue 5,...,Market Cap 1,Market Cap 2,Market Cap 3,Market Cap 4,Market Cap 5,Price 1,Price 2,Price 3,Price 4,Price 5
0,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2010,13931,19315,24578,37491,42905,...,37605.351813,56072.265650,89648.472626,65137.841534,141523.712405,2.24,3.34,5.34,3.88,8.43
1,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2011,19315,24578,37491,42905,65225,...,56072.265650,89648.472626,65137.841534,141523.712405,206661.553939,3.34,5.34,3.88,8.43,12.31
2,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2012,24578,37491,42905,65225,108249,...,89648.472626,65137.841534,141523.712405,206661.553939,370849.206052,5.34,3.88,8.43,12.31,22.09
3,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2013,37491,42905,65225,108249,156508,...,65137.841534,141523.712405,206661.553939,370849.206052,257193.745438,3.88,8.43,12.31,22.09,15.32
4,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2014,42905,65225,108249,156508,170910,...,141523.712405,206661.553939,370849.206052,257193.745438,324681.921460,8.43,12.31,22.09,15.32,19.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3657,TechnipFMC Plc,FTI,Energy,Oil & Gas Equipment & Services,2021,9199.6,15056.9,12552.9,13409.1,13050.6,...,14589.164835,12948.670330,10948.615385,2948.395604,3586.615385,32.46,28.81,24.36,6.56,7.98
3658,HollyFrontier Corporation,HFC,Energy,Oil & Gas Refining & Marketing,2021,10535.7,14251.3,17714.67,17486.6,11183.6,...,4489.338071,7825.154414,7958.003826,3520.509429,6159.676414,27.71,48.30,49.12,21.73,38.02
3659,Gap Inc.,GPS,Consumer Discretionary,Apparel Retail,2021,15797,15855,16580,16383,13800,...,8868.423602,11501.645963,9762.372671,2203.079503,11202.416149,23.71,30.75,26.10,5.89,29.95
3660,Xerox Holdings Corporation,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",2021,10771,9991,9662,9066,7022,...,5753.423500,5566.933221,6548.983094,3491.732883,4878.506340,29.00,28.06,33.01,17.60,24.59
3661,Under Armour Inc. Class A,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",2021,4833.34,4989.24,5193.185,5267.13,4474.67,...,8934.245945,7320.170978,9593.516002,3755.565980,9989.078036,19.65,16.10,21.10,8.26,21.97

In [25]:
work_table['Year of examination'].value_counts()

2021    482
2016    474
2015    468
2014    460
2013    455
2012    446
2011    440
2010    437
Name: Year of examination, dtype: int64

Удаление строк, для которых неизвестна капитализация в любом году из периода оценки

In [26]:
for i in np.arange(len(work_table.index)):
    if pd.isna(work_table['Market Cap 1'][i]):
        work_table = work_table.drop(index = i)
work_table = work_table.reset_index(drop = True)
work_table

,Company,Ticker,Sector,Sub-sector,Year of examination,Revenue 1,Revenue 2,Revenue 3,Revenue 4,Revenue 5,...,Market Cap 1,Market Cap 2,Market Cap 3,Market Cap 4,Market Cap 5,Price 1,Price 2,Price 3,Price 4,Price 5
0,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2010,13931,19315,24578,37491,42905,...,37605.351813,56072.265650,89648.472626,65137.841534,141523.712405,2.24,3.34,5.34,3.88,8.43
1,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2011,19315,24578,37491,42905,65225,...,56072.265650,89648.472626,65137.841534,141523.712405,206661.553939,3.34,5.34,3.88,8.43,12.31
2,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2012,24578,37491,42905,65225,108249,...,89648.472626,65137.841534,141523.712405,206661.553939,370849.206052,5.34,3.88,8.43,12.31,22.09
3,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2013,37491,42905,65225,108249,156508,...,65137.841534,141523.712405,206661.553939,370849.206052,257193.745438,3.88,8.43,12.31,22.09,15.32
4,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2014,42905,65225,108249,156508,170910,...,141523.712405,206661.553939,370849.206052,257193.745438,324681.921460,8.43,12.31,22.09,15.32,19.34
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,TechnipFMC Plc,FTI,Energy,Oil & Gas Equipment & Services,2021,9199.6,15056.9,12552.9,13409.1,13050.6,...,14589.164835,12948.670330,10948.615385,2948.395604,3586.615385,32.46,28.81,24.36,6.56,7.98
3496,HollyFrontier Corporation,HFC,Energy,Oil & Gas Refining & Marketing,2021,10535.7,14251.3,17714.67,17486.6,11183.6,...,4489.338071,7825.154414,7958.003826,3520.509429,6159.676414,27.71,48.30,49.12,21.73,38.02
3497,Gap Inc.,GPS,Consumer Discretionary,Apparel Retail,2021,15797,15855,16580,16383,13800,...,8868.423602,11501.645963,9762.372671,2203.079503,11202.416149,23.71,30.75,26.10,5.89,29.95
3498,Xerox Holdings Corporation,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",2021,10771,9991,9662,9066,7022,...,5753.423500,5566.933221,6548.983094,3491.732883,4878.506340,29.00,28.06,33.01,17.60,24.59
3499,Under Armour Inc. Class A,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",2021,4833.34,4989.24,5193.185,5267.13,4474.67,...,8934.245945,7320.170978,9593.516002,3755.565980,9989.078036,19.65,16.10,21.10,8.26,21.97

In [27]:
work_table['Year of examination'].value_counts()

2021    479
2016    450
2015    445
2014    435
2013    429
2012    428
2011    420
2010    414
Name: Year of examination, dtype: int64

Теперь нужно добавить в рабочую таблицу вторичные финансовые данные, или мультипликаторы, а также столбец с результатами инвестиций в конкретную компанию на рассматриваемом периоде

In [28]:
def add_5_multiples(st):
    for i in np.arange(1,6):
        multiples.append(st + ' ' + str(i))
        
multiples = []
add_5_multiples('P/E')
add_5_multiples('P/S')
add_5_multiples('P/B')
add_5_multiples('EV/EBITDA')
add_5_multiples('NetDebt/EBITDA')
add_5_multiples('D/E')
add_5_multiples('ROE')
add_5_multiples('ROA')
add_5_multiples('EPS')
multiples.append('Result')

In [29]:
work_table = work_table.reindex(columns = work_table.columns.tolist() + multiples)
work_table

,Company,Ticker,Sector,Sub-sector,Year of examination,Revenue 1,Revenue 2,Revenue 3,Revenue 4,Revenue 5,...,ROA 2,ROA 3,ROA 4,ROA 5,EPS 1,EPS 2,EPS 3,EPS 4,EPS 5,Result
0,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2010,13931,19315,24578,37491,42905,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2011,19315,24578,37491,42905,65225,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2012,24578,37491,42905,65225,108249,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2013,37491,42905,65225,108249,156508,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2014,42905,65225,108249,156508,170910,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,TechnipFMC Plc,FTI,Energy,Oil & Gas Equipment & Services,2021,9199.6,15056.9,12552.9,13409.1,13050.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3496,HollyFrontier Corporation,HFC,Energy,Oil & Gas Refining & Marketing,2021,10535.7,14251.3,17714.67,17486.6,11183.6,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3497,Gap Inc.,GPS,Consumer Discretionary,Apparel Retail,2021,15797,15855,16580,16383,13800,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3498,Xerox Holdings Corporation,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",2021,10771,9991,9662,9066,7022,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3499,Under Armour Inc. Class A,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",2021,4833.34,4989.24,5193.185,5267.13,4474.67,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Проверка на незаполненные ячейки, которые могут помешать расчетам

In [30]:
for i in np.arange(5,len(cols)):
    print(cols[i], '->', len(work_table[work_table[cols[i]] == '-']))

Revenue 1 -> 6
Revenue 2 -> 3
Revenue 3 -> 3
Revenue 4 -> 1
Revenue 5 -> 2
Net Income 1 -> 2
Net Income 2 -> 1
Net Income 3 -> 3
Net Income 4 -> 1
Net Income 5 -> 3
EBITDA 1 -> 180
EBITDA 2 -> 180
EBITDA 3 -> 182
EBITDA 4 -> 180
EBITDA 5 -> 180
Cash 1 -> 4
Cash 2 -> 1
Cash 3 -> 0
Cash 4 -> 0
Cash 5 -> 0
Debt 1 -> 328
Debt 2 -> 296
Debt 3 -> 277
Debt 4 -> 251
Debt 5 -> 230
Total Assets 1 -> 0
Total Assets 2 -> 0
Total Assets 3 -> 0
Total Assets 4 -> 0
Total Assets 5 -> 0
Total Liabilities 1 -> 3
Total Liabilities 2 -> 1
Total Liabilities 3 -> 0
Total Liabilities 4 -> 0
Total Liabilities 5 -> 0
Market Cap 1 -> 0
Market Cap 2 -> 0
Market Cap 3 -> 0
Market Cap 4 -> 0
Market Cap 5 -> 0
Price 1 -> 0
Price 2 -> 0
Price 3 -> 0
Price 4 -> 0
Price 5 -> 0

Удаляем все неподходящие строки

In [31]:
for i in np.arange(len(work_table.index)):
    if work_table['Revenue 1'][i] == '-' or work_table['Revenue 2'][i] == '-' or work_table['Revenue 3'][i] == '-' \
    or work_table['Revenue 4'][i] == '-' or work_table['Revenue 5'][i] == '-' or work_table['Net Income 1'][i] == '-' \
    or work_table['Net Income 5'][i] == '-':
        work_table = work_table.drop(index = i)
work_table = work_table.reset_index(drop = True)
for i in np.arange(5,len(cols)):
    print(cols[i], '->', len(work_table[work_table[cols[i]] == '-']))

Revenue 1 -> 0
Revenue 2 -> 0
Revenue 3 -> 0
Revenue 4 -> 0
Revenue 5 -> 0
Net Income 1 -> 0
Net Income 2 -> 0
Net Income 3 -> 0
Net Income 4 -> 0
Net Income 5 -> 0
EBITDA 1 -> 176
EBITDA 2 -> 176
EBITDA 3 -> 176
EBITDA 4 -> 176
EBITDA 5 -> 176
Cash 1 -> 1
Cash 2 -> 0
Cash 3 -> 0
Cash 4 -> 0
Cash 5 -> 0
Debt 1 -> 323
Debt 2 -> 295
Debt 3 -> 277
Debt 4 -> 251
Debt 5 -> 230
Total Assets 1 -> 0
Total Assets 2 -> 0
Total Assets 3 -> 0
Total Assets 4 -> 0
Total Assets 5 -> 0
Total Liabilities 1 -> 0
Total Liabilities 2 -> 0
Total Liabilities 3 -> 0
Total Liabilities 4 -> 0
Total Liabilities 5 -> 0
Market Cap 1 -> 0
Market Cap 2 -> 0
Market Cap 3 -> 0
Market Cap 4 -> 0
Market Cap 5 -> 0
Price 1 -> 0
Price 2 -> 0
Price 3 -> 0
Price 4 -> 0
Price 5 -> 0

In [32]:
for i in np.arange(1,6):
    work_table[f'EBITDA {i}'] = work_table[f'EBITDA {i}'].replace('-', np.nan)
for i in np.arange(15,20):
    print(cols[i], '->', len(work_table[work_table[cols[i]] == '-']))

EBITDA 1 -> 0
EBITDA 2 -> 0
EBITDA 3 -> 0
EBITDA 4 -> 0
EBITDA 5 -> 0

Заменяем значение - на нули для столбцов кэша и долга компаний

In [33]:
for i in np.arange(1,6):
    work_table[f'Cash {i}'] = work_table[f'Cash {i}'].replace('-', 0.0)
    work_table[f'Debt {i}'] = work_table[f'Debt {i}'].replace('-', 0.0)

Проверяем

In [34]:
for i in np.arange(5,len(cols)):
    print(cols[i], '->', len(work_table[work_table[cols[i]] == '-']))

Revenue 1 -> 0
Revenue 2 -> 0
Revenue 3 -> 0
Revenue 4 -> 0
Revenue 5 -> 0
Net Income 1 -> 0
Net Income 2 -> 0
Net Income 3 -> 0
Net Income 4 -> 0
Net Income 5 -> 0
EBITDA 1 -> 0
EBITDA 2 -> 0
EBITDA 3 -> 0
EBITDA 4 -> 0
EBITDA 5 -> 0
Cash 1 -> 0
Cash 2 -> 0
Cash 3 -> 0
Cash 4 -> 0
Cash 5 -> 0
Debt 1 -> 0
Debt 2 -> 0
Debt 3 -> 0
Debt 4 -> 0
Debt 5 -> 0
Total Assets 1 -> 0
Total Assets 2 -> 0
Total Assets 3 -> 0
Total Assets 4 -> 0
Total Assets 5 -> 0
Total Liabilities 1 -> 0
Total Liabilities 2 -> 0
Total Liabilities 3 -> 0
Total Liabilities 4 -> 0
Total Liabilities 5 -> 0
Market Cap 1 -> 0
Market Cap 2 -> 0
Market Cap 3 -> 0
Market Cap 4 -> 0
Market Cap 5 -> 0
Price 1 -> 0
Price 2 -> 0
Price 3 -> 0
Price 4 -> 0
Price 5 -> 0

Посмотрим на типы данных в нашей таблице

In [35]:
work_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3484 entries, 0 to 3483
Data columns (total 96 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              3484 non-null   object
 1   Ticker               3484 non-null   object
 2   Sector               3484 non-null   object
 3   Sub-sector           3484 non-null   object
 4   Year of examination  3484 non-null   object
 5   Revenue 1            3484 non-null   object
 6   Revenue 2            3484 non-null   object
 7   Revenue 3            3484 non-null   object
 8   Revenue 4            3484 non-null   object
 9   Revenue 5            3484 non-null   object
 10  Net Income 1         3484 non-null   object
 11  Net Income 2         3484 non-null   object
 12  Net Income 3         3484 non-null   object
 13  Net Income 4         3484 non-null   object
 14  Net Income 5         3484 non-null   object
 15  EBITDA 1             3308 non-null   object
 16  EBITDA 2             3308 non-null   object
 17  EBITDA 3             3308 non-null   object
 18  EBITDA 4             3308 non-null   object
 19  EBITDA 5             3308 non-null   object
 20  Cash 1               3484 non-null   object
 21  Cash 2               3484 non-null   object
 22  Cash 3               3484 non-null   object
 23  Cash 4               3484 non-null   object
 24  Cash 5               3484 non-null   object
 25  Debt 1               3484 non-null   object
 26  Debt 2               3484 non-null   object
 27  Debt 3               3484 non-null   object
 28  Debt 4               3484 non-null   object
 29  Debt 5               3484 non-null   object
 30  Total Assets 1       3484 non-null   object
 31  Total Assets 2       3484 non-null   object
 32  Total Assets 3       3484 non-null   object
 33  Total Assets 4       3484 non-null   object
 34  Total Assets 5       3484 non-null   object
 35  Total Liabilities 1  3484 non-null   object
 36  Total Liabilities 2  3484 non-null   object
 37  Total Liabilities 3  3484 non-null   object
 38  Total Liabilities 4  3484 non-null   object
 39  Total Liabilities 5  3484 non-null   object
 40  Market Cap 1         3484 non-null   float64
 41  Market Cap 2         3484 non-null   float64
 42  Market Cap 3         3484 non-null   float64
 43  Market Cap 4         3484 non-null   float64
 44  Market Cap 5         3484 non-null   float64
 45  Price 1              3484 non-null   float64
 46  Price 2              3484 non-null   float64
 47  Price 3              3484 non-null   float64
 48  Price 4              3484 non-null   float64
 49  Price 5              3484 non-null   float64
 50  P/E 1                0 non-null      float64
 51  P/E 2                0 non-null      float64
 52  P/E 3                0 non-null      float64
 53  P/E 4                0 non-null      float64
 54  P/E 5                0 non-null      float64
 55  P/S 1                0 non-null      float64
 56  P/S 2                0 non-null      float64
 57  P/S 3                0 non-null      float64
 58  P/S 4                0 non-null      float64
 59  P/S 5                0 non-null      float64
 60  P/B 1                0 non-null      float64
 61  P/B 2                0 non-null      float64
 62  P/B 3                0 non-null      float64
 63  P/B 4                0 non-null      float64
 64  P/B 5                0 non-null      float64
 65  EV/EBITDA 1          0 non-null      float64
 66  EV/EBITDA 2          0 non-null      float64
 67  EV/EBITDA 3          0 non-null      float64
 68  EV/EBITDA 4          0 non-null      float64
 69  EV/EBITDA 5          0 non-null      float64
 70  NetDebt/EBITDA 1     0 non-null      float64
 71  NetDebt/EBITDA 2     0 non-null      float64
 72  NetDebt/EBITDA 3     0 non-null      float64
 73  NetDebt/EBITDA 4     0 non-null      float64
 74  NetDebt/EBITDA 5     0 non-null      float64
 75  D/E 1                0 non-null      float64
 76  D/E 2                0 non-null      float64
 77  D/E 3                0 non-null      float64
 78  D/E 4                0 non-null      float64
 79  D/E 5                0 non-null      float64
 80  ROE 1                0 non-null      float64
 81  ROE 2                0 non-null      float64
 82  ROE 3                0 non-null      float64
 83  ROE 4                0 non-null      float64
 84  ROE 5                0 non-null      float64
 85  ROA 1                0 non-null      float64
 86  ROA 2                0 non-null      float64
 87  ROA 3                0 non-null      float64
 88  ROA 4                0 non-null      float64
 89  ROA 5                0 non-null      float64
 90  EPS 1                0 non-null      float64
 91  EPS 2                0 non-null      float64
 92  EPS 3                0 non-null      float64
 93  EPS 4                0 non-null      float64
 94  EPS 5                0 non-null      float64
 95  Result               0 non-null      float64
dtypes: float64(56), object(40)
memory usage: 2.6+ MB

В тех столбцах, где находятся числа и тип - object, необходимо исправить тип на float64, так как необходимо выполнить вычисления

In [36]:
work_table = work_table.apply(pd.to_numeric, errors='ignore')
work_table.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3484 entries, 0 to 3483
Data columns (total 96 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Company              3484 non-null   object
 1   Ticker               3484 non-null   object
 2   Sector               3484 non-null   object
 3   Sub-sector           3484 non-null   object
 4   Year of examination  3484 non-null   int64
 5   Revenue 1            3484 non-null   float64
 6   Revenue 2            3484 non-null   float64
 7   Revenue 3            3484 non-null   float64
 8   Revenue 4            3484 non-null   float64
 9   Revenue 5            3484 non-null   float64
 10  Net Income 1         3484 non-null   float64
 11  Net Income 2         3484 non-null   float64
 12  Net Income 3         3484 non-null   float64
 13  Net Income 4         3484 non-null   float64
 14  Net Income 5         3484 non-null   float64
 15  EBITDA 1             3308 non-null   float64
 16  EBITDA 2             3308 non-null   float64
 17  EBITDA 3             3308 non-null   float64
 18  EBITDA 4             3308 non-null   float64
 19  EBITDA 5             3308 non-null   float64
 20  Cash 1               3484 non-null   float64
 21  Cash 2               3484 non-null   float64
 22  Cash 3               3484 non-null   float64
 23  Cash 4               3484 non-null   float64
 24  Cash 5               3484 non-null   float64
 25  Debt 1               3484 non-null   float64
 26  Debt 2               3484 non-null   float64
 27  Debt 3               3484 non-null   float64
 28  Debt 4               3484 non-null   float64
 29  Debt 5               3484 non-null   float64
 30  Total Assets 1       3484 non-null   float64
 31  Total Assets 2       3484 non-null   float64
 32  Total Assets 3       3484 non-null   float64
 33  Total Assets 4       3484 non-null   float64
 34  Total Assets 5       3484 non-null   float64
 35  Total Liabilities 1  3484 non-null   float64
 36  Total Liabilities 2  3484 non-null   float64
 37  Total Liabilities 3  3484 non-null   float64
 38  Total Liabilities 4  3484 non-null   float64
 39  Total Liabilities 5  3484 non-null   float64
 40  Market Cap 1         3484 non-null   float64
 41  Market Cap 2         3484 non-null   float64
 42  Market Cap 3         3484 non-null   float64
 43  Market Cap 4         3484 non-null   float64
 44  Market Cap 5         3484 non-null   float64
 45  Price 1              3484 non-null   float64
 46  Price 2              3484 non-null   float64
 47  Price 3              3484 non-null   float64
 48  Price 4              3484 non-null   float64
 49  Price 5              3484 non-null   float64
 50  P/E 1                0 non-null      float64
 51  P/E 2                0 non-null      float64
 52  P/E 3                0 non-null      float64
 53  P/E 4                0 non-null      float64
 54  P/E 5                0 non-null      float64
 55  P/S 1                0 non-null      float64
 56  P/S 2                0 non-null      float64
 57  P/S 3                0 non-null      float64
 58  P/S 4                0 non-null      float64
 59  P/S 5                0 non-null      float64
 60  P/B 1                0 non-null      float64
 61  P/B 2                0 non-null      float64
 62  P/B 3                0 non-null      float64
 63  P/B 4                0 non-null      float64
 64  P/B 5                0 non-null      float64
 65  EV/EBITDA 1          0 non-null      float64
 66  EV/EBITDA 2          0 non-null      float64
 67  EV/EBITDA 3          0 non-null      float64
 68  EV/EBITDA 4          0 non-null      float64
 69  EV/EBITDA 5          0 non-null      float64
 70  NetDebt/EBITDA 1     0 non-null      float64
 71  NetDebt/EBITDA 2     0 non-null      float64
 72  NetDebt/EBITDA 3     0 non-null      float64
 73  NetDebt/EBITDA 4     0 non-null      float64
 74  NetDebt/EBITDA 5     0 non-null      float64
 75  D/E 1                0 non-null      float64
 76  D/E 2                0 non-null      float64
 77  D/E 3                0 non-null      float64
 78  D/E 4                0 non-null      float64
 79  D/E 5                0 non-null      float64
 80  ROE 1                0 non-null      float64
 81  ROE 2                0 non-null      float64
 82  ROE 3                0 non-null      float64
 83  ROE 4                0 non-null      float64
 84  ROE 5                0 non-null      float64
 85  ROA 1                0 non-null      float64
 86  ROA 2                0 non-null      float64
 87  ROA 3                0 non-null      float64
 88  ROA 4                0 non-null      float64
 89  ROA 5                0 non-null      float64
 90  EPS 1                0 non-null      float64
 91  EPS 2                0 non-null      float64
 92  EPS 3                0 non-null      float64
 93  EPS 4                0 non-null      float64
 94  EPS 5                0 non-null      float64
 95  Result               0 non-null      float64
dtypes: float64(91), int64(1), object(4)
memory usage: 2.6+ MB

Отлично, теперь все готово к расчетам

In [37]:
work_table

,Company,Ticker,Sector,Sub-sector,Year of examination,Revenue 1,Revenue 2,Revenue 3,Revenue 4,Revenue 5,...,ROA 2,ROA 3,ROA 4,ROA 5,EPS 1,EPS 2,EPS 3,EPS 4,EPS 5,Result
0,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2010,13931.000,19315.000,24578.000,37491.000,42905.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2011,19315.000,24578.000,37491.000,42905.000,65225.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2012,24578.000,37491.000,42905.000,65225.000,108249.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2013,37491.000,42905.000,65225.000,108249.000,156508.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2014,42905.000,65225.000,108249.000,156508.000,170910.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3479,TechnipFMC Plc,FTI,Energy,Oil & Gas Equipment & Services,2021,9199.600,15056.900,12552.900,13409.100,13050.600,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3480,HollyFrontier Corporation,HFC,Energy,Oil & Gas Refining & Marketing,2021,10535.700,14251.300,17714.670,17486.580,11183.640,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3481,Gap Inc.,GPS,Consumer Discretionary,Apparel Retail,2021,15797.000,15855.000,16580.000,16383.000,13800.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3482,Xerox Holdings Corporation,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",2021,10771.000,9991.000,9662.000,9066.000,7022.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3483,Under Armour Inc. Class A,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",2021,4833.338,4989.244,5193.185,5267.132,4474.667,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Расчитываем значения мультипликаторов для всех компаний

In [38]:
c_rev = 5
c_inc = 10
c_ebitda = 15
c_cash = 20
c_debt = 25
c_tass = 30
c_tliab = 35
c_mcap = 40
c_price = 45
c_pe = 50
c_ps = 55
c_pb = 60
c_ev_ebitda = 65
c_netdebt_ebitda = 70
c_de = 75
c_roe = 80
c_roa = 85
c_eps = 90
for i in np.arange(len(work_table.index)):
    for j in np.arange(5):
        work_table.iloc[i, c_pe + j] = work_table.iloc[i, c_mcap + j] / work_table.iloc[i, c_inc + j]
        work_table.iloc[i, c_ps + j] = work_table.iloc[i, c_mcap + j] / work_table.iloc[i, c_rev + j]
        work_table.iloc[i, c_pb + j] = work_table.iloc[i, c_mcap + j] / (work_table.iloc[i, c_tass + j] - work_table.iloc[i, c_tliab + j])
        work_table.iloc[i, c_ev_ebitda + j] = (work_table.iloc[i, c_mcap + j] + work_table.iloc[i, c_debt + j] - work_table.iloc[i, c_cash + j]) / work_table.iloc[i, c_ebitda + j]
        work_table.iloc[i, c_netdebt_ebitda + j] = (work_table.iloc[i, c_debt + j] - work_table.iloc[i, c_cash + j]) / work_table.iloc[i, c_ebitda + j]
        work_table.iloc[i, c_de +j] = work_table.iloc[i, c_debt + j] / (work_table.iloc[i, c_tass + j] - work_table.iloc[i, c_tliab + j])
        work_table.iloc[i, c_roe + j] = work_table.iloc[i, c_inc + j] / (work_table.iloc[i, c_tass + j] - work_table.iloc[i, c_tliab + j])
        work_table.iloc[i, c_roa + j] = work_table.iloc[i, c_inc + j] / work_table.iloc[i, c_tass + j]
        work_table.iloc[i, c_eps + j] = work_table.iloc[i, c_inc + j] * work_table.iloc[i, c_price + j] / work_table.iloc[i, c_mcap + j]

In [39]:
work_table

,Company,Ticker,Sector,Sub-sector,Year of examination,Revenue 1,Revenue 2,Revenue 3,Revenue 4,Revenue 5,...,ROA 2,ROA 3,ROA 4,ROA 5,EPS 1,EPS 2,EPS 3,EPS 4,EPS 5,Result
0,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2010,13931.000,19315.000,24578.000,37491.000,42905.000,...,0.115606,0.137886,0.169169,0.173365,0.079104,0.118477,0.208183,0.364484,0.490526,NaN
1,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2011,19315.000,24578.000,37491.000,42905.000,65225.000,...,0.137886,0.169169,0.173365,0.186385,0.118477,0.208183,0.364484,0.490526,0.834698,NaN
2,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2012,24578.000,37491.000,42905.000,65225.000,108249.000,...,0.169169,0.173365,0.186385,0.222753,0.208183,0.364484,0.490526,0.834698,1.544070,NaN
3,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2013,37491.000,42905.000,65225.000,108249.000,156508.000,...,0.173365,0.186385,0.222753,0.237033,0.364484,0.490526,0.834698,1.544070,2.485867,NaN
4,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2014,42905.000,65225.000,108249.000,156508.000,170910.000,...,0.186385,0.222753,0.237033,0.178923,0.490526,0.834698,1.544070,2.485867,2.206146,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3479,TechnipFMC Plc,FTI,Energy,Oil & Gas Equipment & Services,2021,9199.600,15056.900,12552.900,13409.100,13050.600,...,0.004009,-0.077532,-0.102692,-0.166946,0.875068,0.252086,-4.275443,-5.373672,-7.314709,NaN
3480,HollyFrontier Corporation,HFC,Energy,Oil & Gas Refining & Marketing,2021,10535.700,14251.300,17714.670,17486.580,11183.640,...,0.075326,0.099526,0.063408,-0.052426,-1.613812,4.971222,6.754126,4.761107,-3.723557,NaN
3481,Gap Inc.,GPS,Consumer Discretionary,Apparel Retail,2021,15797.000,15855.000,16580.000,16383.000,13800.000,...,0.106146,0.124612,0.025660,-0.048297,2.459648,2.267154,2.681551,0.938409,-1.777898,NaN
3482,Xerox Holdings Corporation,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",2021,10771.000,9991.000,9662.000,9066.000,7022.000,...,0.012229,0.024271,0.089918,0.013025,-2.374065,0.982893,1.819612,6.819766,0.967772,NaN
3483,Under Armour Inc. Class A,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",2021,4833.338,4989.244,5193.185,5267.132,4474.667,...,-0.012046,-0.010907,0.019023,-0.109167,0.435435,-0.106143,-0.101837,0.202651,-1.207861,NaN

Рассчитываем доходность за 5 лет после проведения анализа компании

In [40]:
for i in np.arange(len(work_table.index)-len(work_table[work_table['Year of examination'] == 2021].index)):
    work_table.loc[i, 'Result'] = (price_list.loc[price_list.index[price_list.Ticker == work_table.Ticker[i]][0], f'Price {work_table.loc[i, "Year of examination"]+5}'] / work_table.loc[i, 'Price 5'] - 1) * 100

In [41]:
work_table

,Company,Ticker,Sector,Sub-sector,Year of examination,Revenue 1,Revenue 2,Revenue 3,Revenue 4,Revenue 5,...,ROA 2,ROA 3,ROA 4,ROA 5,EPS 1,EPS 2,EPS 3,EPS 4,EPS 5,Result
0,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2010,13931.000,19315.000,24578.000,37491.000,42905.000,...,0.115606,0.137886,0.169169,0.173365,0.079104,0.118477,0.208183,0.364484,0.490526,268.446026
1,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2011,19315.000,24578.000,37491.000,42905.000,65225.000,...,0.137886,0.169169,0.173365,0.186385,0.118477,0.208183,0.364484,0.490526,0.834698,123.395613
2,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2012,24578.000,37491.000,42905.000,65225.000,108249.000,...,0.169169,0.173365,0.186385,0.222753,0.208183,0.364484,0.490526,0.834698,1.544070,62.607515
3,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2013,37491.000,42905.000,65225.000,108249.000,156508.000,...,0.173365,0.186385,0.222753,0.237033,0.364484,0.490526,0.834698,1.544070,2.485867,171.997389
4,Apple Inc.,AAPL,Information Technology,"Technology Hardware, Storage & Peripherals",2014,42905.000,65225.000,108249.000,156508.000,170910.000,...,0.186385,0.222753,0.237033,0.178923,0.490526,0.834698,1.544070,2.485867,2.206146,147.207859
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3479,TechnipFMC Plc,FTI,Energy,Oil & Gas Equipment & Services,2021,9199.600,15056.900,12552.900,13409.100,13050.600,...,0.004009,-0.077532,-0.102692,-0.166946,0.875068,0.252086,-4.275443,-5.373672,-7.314709,NaN
3480,HollyFrontier Corporation,HFC,Energy,Oil & Gas Refining & Marketing,2021,10535.700,14251.300,17714.670,17486.580,11183.640,...,0.075326,0.099526,0.063408,-0.052426,-1.613812,4.971222,6.754126,4.761107,-3.723557,NaN
3481,Gap Inc.,GPS,Consumer Discretionary,Apparel Retail,2021,15797.000,15855.000,16580.000,16383.000,13800.000,...,0.106146,0.124612,0.025660,-0.048297,2.459648,2.267154,2.681551,0.938409,-1.777898,NaN
3482,Xerox Holdings Corporation,XRX,Information Technology,"Technology Hardware, Storage & Peripherals",2021,10771.000,9991.000,9662.000,9066.000,7022.000,...,0.012229,0.024271,0.089918,0.013025,-2.374065,0.982893,1.819612,6.819766,0.967772,NaN
3483,Under Armour Inc. Class A,UAA,Consumer Discretionary,"Apparel, Accessories & Luxury Goods",2021,4833.338,4989.244,5193.185,5267.132,4474.667,...,-0.012046,-0.010907,0.019023,-0.109167,0.435435,-0.106143,-0.101837,0.202651,-1.207861,NaN

Таблица готова, записываем её в новый файл

In [42]:
work_table.to_csv(r"Data/work_table.csv", index = False)